<%= render 'layouts/flash_messages' %>
<p><%= link_to "TOPPAGE", posts_path %>>Buying List</p>
<span style="border-bottom: solid 1px red;">Buying List</span>

<%= render 'posts/items', posts: @buys %>


<% unless @buys.present? %>
<div>カート内は空です</div>
<% else %>
<%= form_for @user, :url => {controller: "buyings", action: "update"} do |f| %>
<%= f.submit '購入データを送信する', class: 'btn btn btn-outline-info btn-block' %>
<% end %>
<% end %>