<p><%= link_to "TOPPAGE", posts_path %>>User Information</p>
<%= render 'layouts/flash_messages' %>

<div class="row">
    <div class="col-md-3 offset-md-3">
         <p>Name:</p>
    </div>  
    <div class="col-md-3 ">
         <p><%= @user.name %></p>
    </div>     
</div>
<div class="row">
    <div class="col-md-3 offset-md-3">
         <p>Email:</p>
    </div>  
    <div class="col-md-3 ">
         <p><%= @user.email %></p>
    </div>     
</div>
<div class="row">
    <div class="col-md-3 offset-md-3">
         <p>Adress:</p>
    </div>  
    <div class="col-md-3 ">
         <p><%= @user.postalcode %></p>
         <p><%= @user.prefecture %></p>
        <p><%= @user.address %></p>
        <%= link_to '変更する', edit_user_path %>
    </div>     
</div>


