<%= render 'layouts/flash_messages' %>

<head>
    <img src="spring.jpg">
</head>

  <body>
    <div class="text-center">
    <span style="border-bottom: solid 1px red;">All Items</span>
    </div>
     <br>
    <div class="container">
     <div class="row">
    <% @posts.each do |post| %>
     <div class="col-5 col-md-3 ">
       <div>
        <%= link_to post_path(post), class: 'hoge' do %>
          <% if post.image? %>
            <%= image_tag post.image.to_s %>
          <% else %>
            <%= image_tag 'no_image.png' %>
          <% end %>
          <% end %>
          <br>
          <br>
          <div class="text-center">
          <%= post.name %>
          </div>
        </div>
      </div>  
    <% end %>
  </body>
<br>


